.tagviewall-framework{
    display: flex;
    flex-direction: column;

    width: auto;
    height: 100vh;

    font-family: 'Maitree';

    overflow-y: auto;
}

.tagviewall-header{
    padding:16px;

    font-size: 22px;
    font-weight: bold;
    color:#445650;
}

.tagviewall-topic{
    padding:16px;
    
    font-size: 20px;
    font-weight: bold;
    color:#445650;
}

.tagviewall-grid{
    display: grid;
    grid-template-columns: auto;

    padding:16px;
}