a {
    text-decoration: none;
}

body{
    background-color: #304045;
    margin: 0px;
    font-family: Sarabun;
}

.head{
    /* border:1px solid salmon; */
    position: -webkit-sticky;
    position: sticky;
    color:#EFE5D5;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    gap: 16px;
    
    width: 100%;
    height: fit-content;
    left: 0px;
    top: 0px;

    background: #304045;
    border-bottom: 2px solid #EFE5D5;

}

svg{
    fill:#EFE5D5;
}

svg:hover{
    fill:#F1B24B;
}
.logo{
    /* border:1px solid red; */
    width:23.05px;
    height: 32px;
    color:#EFE5D5;
}

.logo svg{
    width:23.05px;
    height: 32px;
    fill:#EFE5D5;
}

.logo svg:hover{
    width:23.05px;
    height: 32px;
    fill:#F1B24B;
}
.head-menu-toggler{
    display: none;
}
.head-menu{
    /* border:1px solid salmon; */
    
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 4px 0px;
    gap: 36px;
    
    width: fit-content;
    height: 40px;
}

.head-menu a{
    /* border:1px solid white; */

    word-break: keep-all;

    display: flex;
    justify-content:flex-start;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;

    width: max-content;
    height: 40px;

    color: #EFE5D5;
}

.head-menu a.webboard{
    color:#F1B24B;
}

.head-menu a:hover{
    color:#F1B24B;
}

.head-label{
    /* border: 1px solid #F1B24B; */

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 100%;
    height: 43px;
}

.head-label a{
    /* border: 1px solid #F1B24B; */

    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #EFE5D5;
}

.head-signin{
    /* border:1px solid salmon; */
    
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 4px 0px;
    gap: 36px;
    
    width: fit-content;
    height: 40px;
}

.head-signin a{
    /* border:1px solid white; */
    word-break: keep-all;

    display: flex;
    justify-content:flex-start;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;

    width: max-content;
    height: 40px;

    color: #EFE5D5;
}

.head-signin a:hover{
    color:#F1B24B;
}

.body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    weight: 100%;
    height: 1966px;

}

.left-pane{
    border:1px solid salmon;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    
    width: max-content;
    height: 100%;
}

.left-pane .search-bar{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;

    width:278px;
    height: fit-content;

    background: #445650;
    border-radius: 8px;

    
}
.left-pane input[type=text]{
    border:none;
    background-color: transparent; 
    width:100%;
    height: 100%;
    font-size: 18px;
    font-family: Sarabun;
    color:#EFE5D5;
    border-radius: 8px;
}

.left-pane svg{
    width: 20px;
    height: auto;
}


.left-pane .top-tag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 300px;
    height: 459px;

    background: #445650;
    border-radius: 8px;
}

.middle-pane{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    border-width: 0px 1px;
    border-style: solid;
    border-color: #EFE5D5;

    width: 100%;
    height: 100%;
}

.right-pane{
    border: 1px solid red;
    width:284px;
    height:100%;
    
}

