.shrubby-page-framework{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    width: auto;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    gap: 0px;

    background: #D2D2D5;
}

.shrubby-page-background-framework{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% - 16px);
    margin:8px;
    
    background: #5B6C67;

    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.shrubby-page-content-topic-edit{
    display: flex;
    flex-direction: row;
    align-content: center;

    width: calc(100% - 64px);
    height: auto;
    margin: 32px 32px;
    padding: 0px;
    gap: 16px;

    border-bottom: 1px solid #EFE5D5;
}

.shrubby-page-content-topic{
    width: 100%;
    height: fit-content;

    font-family: 'Maitree';
    font-size: 24px;
    font-weight: bold;
    color:#F1B24B;
    word-break: break-all;
}

.shrubby-page-content-edit{

}

.shrubby-page-content-edit-link-to{
    font-family: 'Maitree';
    font-size: 18px;
    font-weight: bold;
    color:#EFE5D5;

    white-space: nowrap;
}

.shrubby-page-content-edit-link-to:hover{
    color:#F1B24B;
}

.shrubby-page-content-tag-frame{
    display: flex;
    flex-direction: column;
    
    width: calc(100% - 64px - 16px);
    height: auto;
    margin: 0px 32px;
    padding: 8px;
    gap: 0px;

    border-radius: 8px;
    background: #4F605D;
}

.shrubby-page-content-tag-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

.shrubby-page-content-tag-head-topic{
    width: 100%;

    font-family: 'Maitree';
    font-size: 20px;
    font-weight: bold;
    color:#EFE5D5;
}

.shrubby-page-content-tag-head-view-all{
    font-family: 'Maitree';
    font-size: 18px;
    color:#EFE5D5;
    white-space: nowrap;
}

.shrubby-page-content-tag-head-view-all:hover{
    color:#F1B24B;
}

.shrubby-page-content-tag-slot-outside{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.shrubby-page-content-tag-slot{
    display: flex;
    flex-direction: row;
    gap: 8px;

    width: 876px;

    overflow-x: auto;
}

.shrubby-page-content-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: calc(100% - 64px);
    height: auto;
    margin: 32px;
    padding:0px;
    gap: 0px;

    font-family: 'Maitree';
    font-size: 16px;
    color:#EFE5D5;

    word-break: break-all;
}


.shrubby-page-interaction-engagement-bar{
    display: flex;
    flex-direction: row;
    
    width: calc(100% - 64px);
    height: auto;
    margin: 0px 32px;
    padding: 0px;
    gap: 8px;
}

.shrubby-page-interaction-engagement-bar .interaction-engage-icon-svg-yet,
.shrubby-page-interaction-engagement-bar .interaction-engage-describe{
    fill:#EFE5D5;
    color:#EFE5D5;
}

.shrubby-page-content-user-info{
    display: flex;
    flex-direction: row;

    width: calc(100% - 64px);
    height: auto;
    margin: 32px;
    padding: 0px;
    gap: 16px;
}

.shrubby-page-content-user-info-pic{
    width: 48px;
    height: 48px;

    border-radius: 8px;
}

.shrubby-page-content-user-info-name{
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    gap: 8px;
}

.shrubby-page-content-user-info-alias{

}

.shrubby-page-content-user-info-alias-link-to{
    font-size: 18px;
    font-weight: bold;
    color: #EFE5D5;
}

.shrubby-page-content-user-info-username{

}

.shrubby-page-content-user-info-username-link-to{
    font-size: 16px;
    color: #D2D2D5;
}

.shrubby-page-post-date{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    gap: 0px;

    font-family: 'Maitree';
    font-size: 16px;
    color:#EFE5D5;
    text-align: right;
}

.shrubby-comment-section{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    margin:0px;
    padding: 0px;
    gap: 0px;
    
    background:#FAFAFA;
    border-radius:24px;
}

.shrubby-comment-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:12px;
    
    width: calc(100%-24px);
    height: 36px;
    
    border-bottom: 1px solid #D2D2D5;
    
}

.shrubby-comment-topic{
    width: 100%;
    
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    
    color: #445650;
}

.shrubby-page-content-content img{
    max-width: calc(100% - 16px);
    max-height: 1000px ;
    margin:8px;
    ;
}