body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100vw;
    height: 100vh;

    background: #FAFAFA;
    border-radius: 12px;

    margin:0px;
}

.right-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position:relative;
    width: auto;
    height: 100vh;
}

.body-right-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
}

.shrubby-framework{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    background: #D2D2D5;

    width: 64vw;
    height: 92vh;
    overflow-y: auto;
}

.background-framework{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:16px;
    
    width: 100%;

    background: #5B6C67;

    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.shrubby-create{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:16px;
    gap:32px;
    
    width: calc(100% - 16*2px);

}
.shrubby-each-topic-framework{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;

    width: 100%;
}

.shrubby-topic{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #EFE5D5;
}

.topic-input{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 12px;

    width: 100%;

    background: #F3F3F3;

    outline:none;
    border:none;
    border-bottom: 2px solid #445650;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #445650;
}

.topic-input:hover{
    border-bottom: 2px solid #F1B24B;
}

.description{
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;

    color: #D2D2D5;
}

.shrubby-content-area{
    width: 100%;
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #445650;
}
.shrubby-button{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: flex-end;

    padding: 8px 12px;
    gap:16px;

    width: 100%;
    height: fit-content;
}

.submit-button{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 16px;

    background: #EFE5D5;

    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #445650;

    border:none;
    outline:none;
}


.submit-button:active{
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
} 

.cancel-button{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 16px;

    background: #D2D2D5;

    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #445650;

    border:none;
    outline:none;
}


.cancel-button:active{
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}