.myclumppy-framework{
    display: flex;
    flex-direction: column;

    width: auto;
    height: 100vh;

    font-family: 'Maitree';

    overflow-y: auto;
}

.myclumppy-header-framework{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    padding:16px;
    gap:16px;
}

.myclumppy-header{
    width: 100%;
    
    font-size: 22px;
    font-weight: bold;
    color: #445650;
}

.myclumppy-amount{
    white-space: nowrap;
    
    font-size: 18px;
    color:#5B6C67;
}

.myclumppy-create-clumppy{
    white-space: nowrap;

    font-size: 18px;
    font-weight: bold;
    color:#4B819F;
}

.myclumppy-create-clumppy:hover{
    color:#F1B24B;
}

.shrubby-clumppy-framework-outside{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: auto;
}

.shrubby-clumppy-framework{
    display: grid;
    grid-template-columns: 280px 280px 280px;
    row-gap: 8px;
    column-gap: 8px;

    margin: 16px;
}