.clumppy-create-framework{
    display: flex;
    flex-direction: column;

    width: 64vw;
    height: 92vh;
    overflow-y: auto;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    gap:0px;
}

.clumppy-create-topic{
    margin:16px;
    width: calc(100% - 32px);
    font-weight: bold;
    font-size: 22px;
}

.clumppy-create-add-display-picture{
    display:flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: calc(100% - 32px - 32px);
    margin:16px;
    padding:16px;

    border:2px dashed #445650;
    border-radius: 8px;
}

.clumppy-create-add-display-picture-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin:16px 0px 0px 0px;

    background: none;
    border:none;
    outline: none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    color: #4B819F;

    cursor: pointer;
}

.clumppy-create-add-display-picture-btn:hover{
    color:#F1B24B;
}

.clumppy-create-input-group{
    margin:16px;
    width: calc(100% - 32px);
}

.clumppy-create-input-label{
    font-weight: bold;
    font-size: 20px;
}

.clumppy-create-input-select{
    border:none;
    border-bottom:2px solid #445650;
    outline:none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 20%;
}

.clumppy-create-input-input{
    border:none;
    border-bottom:2px solid #445650;
    outline:none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
}

.clumppy-create-input-textarea{
    border:none;
    border-bottom:2px solid #445650;
    outline:none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    resize: none;
}

.clumppy-create-input-date{
    border:none;
    border-bottom:2px solid #445650;
    outline:none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 20%;
}

.clumppy-create-input-number{
    border:none;
    border-bottom:2px solid #445650;
    outline:none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 20%;
}

.clumppy-create-input-counter{
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;

    color: #D2D2D5;
}

.amount-change-btn{
    margin:16px 0px;
}

.clumppy-create-minus-amount-btn{     
    padding:12px 8px;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border:none;
    outline: none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    text-align: center;

    color: #445650;
}

.clumppy-create-plus-amount-btn{   
    padding:12px 8px; 
    background: #4B819F;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border:none;
    outline: none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    text-align: center;

    color: #EFE5D5;
}

.clumppy-create-minus-amount-btn:active, .clumppy-create-plus-amount-btn:active{
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.clumppy-create-new-clumppy-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 50px;
    
    background: #EFE5D5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border:none;
    outline: none;

    font-family: 'Maitree';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

    color: #445650;
}

.clumppy-create-new-clumppy-btn:focus{
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.clumppy-create-btn-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin:16px;
    width: calc(100% - 32px);
}

.cover-image{
    width: 315px;
    height: 315px;
    background: #F3F3F3;
}