a{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Prompt";
    font-weight: normal;
    color:#304045;
    background: #FAFAFA;
    
    overflow-y: hidden;
}

.leftpane{
    position:sticky;
    top:0px;
    left:0px;
}

.right-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 82vw;
    height: 100vh;
    left: 18vw;
    top: 0px;

}

.body-right-section{
    display:flex;
    flex-direction: row;
    overflow-y: scroll;
}

.inside-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width:64vw;

}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px;

    width: fit-content;
    height: auto;

}

.playground{
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width:64vw;

    overflow-y: scroll;
}

.rightpane{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    border-left: 1px solid #D2D2D5;

    width: 18vw;

    overflow-y: scroll;
}