.homepage-creator-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 0px;
    padding:16px;
    gap:16px;

    background: #5B6C67;

    font-family: 'Maitree';
}

.homepage-creator-bar-shrubbycreate{
    font-weight: bold;
    font-size: 18px;
    color: #EFE5D5;
}

.homepage-creator-bar-shrubbycreate:hover{
    color: #F1B24B;
}

.homepage-creator-bar-clumppycreate{
    font-weight: bold;
    font-size: 18px;
    color: #EFE5D5;
}

.homepage-creator-bar-clumppycreate:hover{
    color: #F1B24B;
}

.homepage-playground{
    display: flex;
    flex-direction: column;
}