.login-framework{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    height: auto;
    margin: 0px;
    padding:16px;
    gap:32px;

    font-family: 'Maitree';
    color:#445650;
}

.login-head-topic-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-head-topic{
    font-size: 24px;
    font-weight: bold;
}

.login-head-description{
    font-size: 20px;
}

.login-body{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    height: auto;
    margin:0px;
    padding:0px;
    gap: 32px;
}

.login-body-topic{
    font-size: 20px;
    font-weight: bold;
}

.login-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    height: auto;
    margin:0px;
    padding:0px;
    gap: 24px;
}

.login-form-input-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: auto;
    height: auto;
    margin: 0px;
    padding:0px;
    gap:8px;
}

.login-form-topic{
    font-size: 18px;
}

.login-form-input{
    width: 215px;
    height: 48px;


    font-size: 18px;

    border:none;
    border-bottom: 2px solid #445650;
    outline: none;
}

.login-form-input:hover{
    border-bottom: 2px solid #F1B24B;
}

.login-form-input:-webkit-autofill{
    -webkit-text-fill-color: #445650;
}

.login-forget-btn{
    font-size: 18px;
    font-weight: bold;
    color:#4B819F;
}

.login-forget-btn:hover{
    color:#F1B24B;
}

.login-button-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.login-login-btn{
    width: 300px;
    height: 46px;

    background: #EFE5D5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-family:'Maitree';
    font-weight: bold;
    font-size: 20px;
    color: #445650;

    border:none;
    outline: none;
}

.login-login-btn:active{
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.login-register-btn{
    width: 300px;
    height: 46px;

    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-family:'Maitree';
    font-weight: bold;
    font-size: 20px;
    color: #445650;

    border:none;
    outline: none;
}

.login-register-btn:active{
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}