.register-framework{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    height: auto;
    margin: 0px;
    padding:16px;
    gap:32px;

    font-family: 'Maitree';
    color:#445650;
}

.register-head-topic-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-head-topic{
    font-size: 24px;
    font-weight: bold;
}

.register-head-description{
    font-size: 20px;
}

.register-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
    margin:0px;
    padding:0px;
    gap: 32px;
}

.register-body-topic{
    font-size: 20px;
    font-weight: bold;
}

.register-form-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: auto;
    height: auto;
    margin:0px;
    padding:0px;
    gap: 24px;
}

.register-form-user-info{
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.register-form-user-info-topic{
    font-size: 20px;
    font-weight: bold;
}

.register-form-privacy-info{
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.register-form-privacy-info-topic{
    font-size: 20px;
    font-weight: bold;
}

.register-form-input-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: auto;
    height: auto;
    margin: 0px;
    padding:0px;
    gap:8px;
}

.register-form-topic{
    font-size: 18px;
}

.register-form-input{
    width: 215px;
    height: 48px;

    font-size: 18px;
    color:#445650;

    border:none;
    border-bottom: 2px solid #445650;
    outline: none;
}

.register-form-input:hover{
    border-bottom: 2px solid #F1B24B;
}

.register-form-input:-webkit-autofill{
    -webkit-text-fill-color: #445650;
}

.register-form-comment{
    width: 215px;
    color:#DD3535;
}

.register-form-input-text-area{
    width: 215px;
    height: 210px;

    font-size: 18px;
    color:#445650;

    border:none;
    border-bottom: 2px solid #445650;
    outline: none;

    resize: none;
}

.register-form-input-text-area:hover{
    border-bottom: 2px solid #F1B24B;
}

.register-register-btn{
    width: 300px;
    height: 46px;

    background: #EFE5D5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-family:'Maitree';
    font-weight: bold;
    font-size: 20px;
    color: #445650;

    border:none;
    outline: none;
}

.register-register-btn:active{
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}