body{
    margin:0px;
    background: #304045;
}

.header{
    position: sticky;
    position:-webkit-sticky;
    top:0;
}

.body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: auto;
    left: 0px;
    top: 59px;

}

.leftpane{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 332px;
    height: 1966px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}