a {
    text-decoration: none;
    color: #EFE5D5;
    font-family: 'Prompt';
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;

    width: 278px;
    height: auto;

    background: #445650;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.search-icon{
    width:18px;
    height: 18;
    fill: #EFE5D5;
}

.searchbox{
    width: 100%;
}
.searchbox input{
    box-sizing: border-box;

    border: 0px;
    width: 100%;

    background: transparent;
    
    color:#EFE5D5;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.toptag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 300px;
    height: auto;

    background: #445650;
    border-radius: 8px;
}

.topic{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;

    width: 100%;
    height: 32px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    color: #FAFAFA;
}

.more{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

    font-weight: 1000;
    width: 300px;
    height: 54px;
}

.more a{
    font-size: 16px;
    color:#4B819F;
    font-style: bold;
}

.more a:hover{
    color:#F1B24B;
}